.page-header {
	background: $light-gray;
	margin-bottom: $l-size;
	padding: $l-size 0;
}

.page-header__actions {
	margin-top: $l-size;
}

.page-header__title {
	margin: 0 0 $l-size 0;
	font-weight: 300;
	line-height: 1;
	span {
		font-weight: bold;
	}
}
